@-webkit-keyframes jelly{
    from,to{
        -webkit-transform:scale(1, 1);
        transform:scale(1, 1)
    }
    25%{
        -webkit-transform:scale(.9, 1.1);
        transform:scale(.9, 1.1)
    }
    50%{
        -webkit-transform:scale(1.1, .9);
        transform:scale(1.1, .9)
    }
    75%{
        -webkit-transform:scale(.95, 1.05);
        transform:scale(.95, 1.05)
    }
}
@keyframes jelly{
    from,to{
        -webkit-transform:scale(1, 1);
        transform:scale(1, 1)
    }
    25%{
        -webkit-transform:scale(.9, 1.1);
        transform:scale(.9, 1.1)
    }
    50%{
        -webkit-transform:scale(1.1, .9);
        transform:scale(1.1, .9)
    }
    75%{
        -webkit-transform:scale(.95, 1.05);
        transform:scale(.95, 1.05)
    }
}
::selection {
    background: #428bca; /* Webkit */
    color: white;
}
::-moz-selection {
    background: #428bca; /* Firefox */
    color: white;
}
:focus, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}
h1 a {
    display: inline-block;
}
.title h1 a:hover, .title h1 a:focus {
    color: #428bca;
    text-decoration: none;
    -webkit-animation: jelly .5s;
    animation: jelly .5s;
}
h2 {
    font-size: 20px;
    margin-top: 0;
    color: #428bca;
}
h2::after {
    content: ' :';
}
/*
 =======
|  Nav  |
 =======
*/
.has-success .form-control,
input[type=search],
input[type=search]:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: solid 1px #ccc;
    height: 30px;
}
.nav button {
    top: 0;
    background-color: #e6e6e6;
    color: white;
    border: none;
    height: 30px;
    width: 30px;
    padding-top: 2px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.nav button:before {
    font-size: 16px;
}
.nav button.active {
    background-color: #4cae4c;
}
.nav button:hover, .nav button:active, .nav button:focus {
    padding-top: 22px;
    height: 45px;
    border: none;
    background-color: #ddd;
}
.nav button.active:hover, .nav button.active:active, .nav button.active:focus {
    background-color: rgba(0, 128, 0, .4);
}
@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: 80px;
    }
}
#nb-links {
    color: #428bca;
    position: absolute;
    top: -20px;
    right: 0;
}
/* SearchBar */
#search-button {
    width: 51px;
}
#search-button > input {
    padding: 0;
    width: 50px;
    height: 30px;
    border-left: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.has-feedback .form-control-feedback {
    color: #4cae4c;
    top: 1px;
    z-index: 1;
    height: 30px;
    line-height: 30px;
}
.has-success .form-control,
.has-error .form-control {
    border-color: #ccc;
}
.has-success .form-control:focus,
.has-error .form-control:focus {
    border: solid 1px #4cae4c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.has-error .form-control:focus {
    border: solid 1px red;
}
ul.ui-corner-all {
    margin-top: 1px;
    padding: 0;
    border: solid 1px #ccc;
    border-top: none;
}
.ui-corner-all, .ui-corner-bottom,
.ui-corner-right, .ui-corner-br {
    border-radius: 0;
    -moz-border-radius: 0;
    background-color: white;
}
.ui-state-hover,
.ui-widget-content.ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: none;
    color: black;
    background: none;
    background-color: rgb(249, 249, 249);
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
    margin: 0;
}
/*
 =============
|  Responses  |
 =============
*/
td:nth-child(1){
    width: 30px;
}
td:nth-child(3){
    text-align: center;
}
/*
 =============
|  Edit mode  |
 =============
*/
sup {
    color: #d43f3a;
}
#legend {
    color: #d43f3a;
    position: fixed;
    bottom: 10px;
    right: 20px;
}
#dialog-add-link .edit-table > tbody > tr > td:nth-child(1),
#dialog-add-link .edit-table > tbody > tr > td:nth-child(1) {
    padding-top: 22px;
}
#responses .edit-table > tbody > tr > td:nth-child(1) > div {
    margin-top: 11px;
    height: 28px;
    line-height: 28px;
    position: absolute;
}
#dialog-add-link .edit-table > tbody > tr > td:nth-child(3)
#responses .edit-table > tbody > tr > td:nth-child(3) {
    padding-top: 16px;
}
.glyphicon-minus {
    top: 9px;
    height: 28px;
    background: #d43f3a;
    color: white;
    border: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.glyphicon-minus:hover {
    background-color: rgba(255, 0, 0, .4);
}
.col-md-4 {
    padding-left: 0;
}
.glyphicon-plus {
    top: 0;
    height: 30px;
    background-color: #4cae4c;
    color: white;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.glyphicon-plus:before {
    margin-left: -3px;
}
.glyphicon-plus.hidden,
#responses.hidden {
    display: inline-block !important;
    visibility: visible !important;
    opacity: 0;
}
.glyphicon-plus:hover {
    color: white;
    border-color: white;
    background-color: rgba(0, 128, 0, .4);
}
/* Tooltip */
.tooltip.top.glyphicon-warning-sign,
.tooltip.top.glyphicon-exclamation-sign {
    margin-left: 10px;
    margin-top: -30px;
    opacity: 1;
}
.tooltip.top.glyphicon-warning-sign .tooltip-arrow {
    border-top-color: orange;
}
.tooltip.top.glyphicon-exclamation-sign .tooltip-arrow {
    border-top-color: #d43f3a;
}
.glyphicon-warning-sign .tooltip-inner,
.glyphicon-exclamation-sign .tooltip-inner {
    padding: 6px 8px 6px 30px;
    max-width: inherit;
    background-color: orange;
}
.glyphicon-exclamation-sign .tooltip-inner {
    background-color: #d43f3a;
}
.glyphicon-warning-sign:before,
.glyphicon-exclamation-sign:before {
    position: absolute;
    color: white;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 8px;
}
#dialog-add-link,
#responses {
    margin-top: 10px;
}
#responses {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
/* Add */
#dialog-add-link > div {
    padding: 0px 49px 0px 30px;
}
#dialog-add-link > div > div {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 8px;
}
#dialog-add-link table,
#responses table {
    width: 100%;
    border-collapse: collapse;
}
#dialog-add-link table tr,
#responses table tr {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}
#responses table strong a {
    color: #333;
}
#dialog-add-link table td,
#responses table td {
    border: 1px solid #ddd;
}
#dialog-add-link table tr:first-child td,
#dialog-add-link table tr:last-child td,
#responses table tr:first-child td {
    border-top: 0;
}
#dialog-add-link table tr.last-tr td,
#dialog-add-link table tr:last-child td,
#responses table tr.last-tr td,
#responses table tr:last-child td {
    border-bottom: 0;
}
#dialog-add-link table tr td:first-child,
#responses table table tr td:first-child {
    min-width: 150px;
    border-left: 0;
}
#responses table tr td:last-child {
    border-right: 0;
    padding: 9px;
}
#dialog-add-link table tr td:last-child,
#responses table table tr td:last-child {
    position: relative;
    border-right: 0;
    padding: 0;
}
#dialog-add-link table tr:first-child td:last-child {
    padding-top: 3px;
}
#responses tr .glyphicon-minus {
    opacity: 0;
}
#responses tr:hover .glyphicon-minus {
    opacity: 1;
}
#dialog-add-link label,
#responses label {
    margin: 0;
}
#dialog-add-link label {
    padding-left: 1em;
}
#dialog-add-link input,
#dialog-add-link textarea,
#responses input,
#responses textarea {
    margin: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    padding-right: 37px;
    min-width: 98%;
    width: 98%;
    max-width: 98%;
    height: 22px;
    line-height: 22px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: solid 1px rgb(169, 169, 169);
}
#dialog-add-link .form-control,
#dialog-add-link .form-control:hover,
#responses .form-control,
#responses .form-control:hover {
    box-shadow: none;
}
#dialog-add-link .has-error .form-control,
#responses .has-error .form-control {
    border-color: #d43f3a;
}
#dialog-add-link .has-warning .form-control,
#responses .has-warning .form-control {
    border-color: orange;
}
#dialog-add-link .has-success .form-control,
#responses .has-success .form-control {
    border-color: #4cae4c;
}
#dialog-add-link input[type="number"],
#responses input[type="number"] {
    line-height: 10px;
}
#dialog-add-link textarea,
#responses textarea {
    line-height: 16px;
    height: 56px; /* nb_row: 3 => 3 * 16px + 3 * 2 (padding) + 2 * 4 (border) = 56px */
}
#dialog-add-link .tagit,
#responses .tagit {
    background: none;
    background-color: white;
    border: solid 1px rgb(169, 169, 169);
    padding: 2px 0;
    margin: 2%;
    margin-right: 0;
}
#dialog-add-link .tagit.has-error,
#responses .tagit.has-error {
    border: solid 1px #d43f3a;
}
#dialog-add-link ul.tagit li.tagit-choice,
#responses ul.tagit li.tagit-choice {
    margin: 1px 2px;
    background: rgb(28, 148, 196);
    color: white;
    padding: 0 4px;
    line-height: 18px;
    height: 22px;
}
#dialog-add-link ul.tagit li.tagit-choice-editable,
#responses ul.tagit li.tagit-choice-editable {
    padding: 0 4px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#dialog-add-link ul.tagit li.tagit-choice-editable:hover,
#responses ul.tagit li.tagit-choice-editable:hover {
    padding: 0 18px 0 4px;
}
#dialog-add-link ul.tagit li.tagit-new,
#responses ul.tagit li.tagit-new {
    margin: 0 2px;
    padding: 0 2px 0 2px;
    line-height: 14px;
}
#dialog-add-link .tagit input,
#responses .tagit input {
    margin: 0;
    background: none;
    height: 23px;
    border: none;
    position: relative;
    display: inline-block;
}
#dialog-add-link div.tags-update,
#dialog-add-link div.input-update,
#responses div.tags-update,
#responses div.input-update {
    width: 100%;
    position: relative;
}
#dialog-add-link div.tags-update div,
#dialog-add-link div.input-update div,
#responses div.tags-update div,
#responses div.input-update div {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 13px;
    margin-top: 14px;
    color: #4cae4c;
}
#dialog-add-link div.tags-update div {
    margin-top: 16px;
}
#responses div.tags-update div {
    margin-top: 19px;
}
#dialog-add-link input[type="reset"],
#dialog-add-link input[type="submit"],
#responses input[type="reset"],
#responses input[type="submit"] {
    margin: 0;
    color: white;
    background-color: #4cae4c;
    border: none;
    width: 20%;
    display: inline-block;
    position: relative;
    float: right;
    max-width: 20%;
    min-width: 20%;
    line-height: 20px;
    margin-right: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#dialog-add-link input[type="reset"],
#responses input[type="reset"] {
    background-color: #428bca;
}
#dialog-add-link input[type="reset"]:hover,
#responses input[type="reset"]:hover {
    background-color: rgba(66, 139, 202, .5);
}
#dialog-add-link input[type="submit"],
#responses input[type="submit"] {
    margin-left: 2%;
}
#dialog-add-link input[type="submit"]:hover,
#responses input[type="submit"]:hover {
    background-color: rgba(0, 128, 0, .4);
}
small {
    font-size: 12px;
    color: #d43f3a;
    margin: -13px 10px 0 10px;
    position: absolute;
}
.has-warning small {
    color: orange;
}
small.update {
    font-size: 100%;
    margin: 8px 0 0 0;
    padding: .2em 8px;
    position: relative;
    display: block;
    background-color: #4cae4c;
    color: white;
    text-align: right;
    -webkit-transition: all 1s ease-in-out 1s;
    -moz-transition: all 1s ease-in-out 1s;
    -ms-transition: all 1s ease-in-out 1s;
    -o-transition: all 1s ease-in-out 1s;
    transition: all 1s ease-in-out 1s;
}
small.update.disappear {
    background-color: rgba(255, 0, 0, 0.001);
}
/* readonly */
#dialog-add-link ul.tagit.readonly li span,
#responses ul.tagit.readonly li span {
    width: 10%;
    position: relative;
    vertical-align: middle;
}
#dialog-add-link .tagit.readonly,
#responses .tagit.readonly {
    background: none;
    border: none;
    width: 90%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
#dialog-add-link ul.tagit.readonly li.tagit-new,
#responses ul.tagit.readonly li.tagit-new {
    height: 0;
    line-height: 0;
}
.add-hidden {
    display: none;
}

ul.tagit li.tagit-choice .tagit-close .text-icon {
    color: #d43f3a;
    font-size: 22px;
    font-weight: bold;
    line-height: 12px;
    height: 12px;
    width: 12px;
    display: block;
    margin-top: 1px;
    margin-right: 1px;
}
ul.tagit li.tagit-choice .tagit-close:hover {
    text-decoration: none;
}
/*
 ========
| Dialog |
 ========
*/
.ui-dialog {
    background: #eee;
}
.ui-dialog .ui-dialog-buttonpane button {
    background: none;
    border: solid 1px #ccc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.ui-dialog .ui-dialog-buttonpane button:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}
.ui-widget-header {
    border: none;
    background: none;
    background-color: #d43f3a;
}
.ui-dialog.add-dialog .ui-widget-header {
    background-color: #4cae4c;
}
.ui-dialog .ui-dialog-content,
.ui-dialog .ui-dialog-buttonpane {
    margin: 0;
    padding: 0;
    border: none;
}
.ui-dialog-titlebar-close {
  display: none;
}
/*
 ========
|  Misc  |
 ========
*/
.text-danger {
    color: #d43f3a;
}
#nb-results {
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 14px;
}
.glyphicon-plus {
    width: 35px;
    border-left: solid 5px white;
}